<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.mapper.CommunityMapper">


    <resultMap id="CommunityInvitationsResultMap" type="CommunityInvitations">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="introduction" property="introduction"/>
        <result column="status" property="status"/>
        <collection property="invitations" ofType="Invitation">
            <id column="id" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="title" property="title"/>
            <result column="content" property="content"/>
            <result column="time" property="time"/>
        </collection>
    </resultMap>

    <!--查询帖子数最多的6条社区记录-->
    <select id="getTopCommunity" resultType="Community">
        SELECT
            community.*,
            COUNT(invitation.`community_id`)
        FROM
            community
            INNER JOIN invitation
            ON community.`id` = invitation.`community_id`
            AND community.`status` = 1
        GROUP BY invitation.`community_id`
        ORDER BY COUNT(invitation.`community_id`) DESC
        LIMIT 0, 6
    </select>

    <!--查询社区所有帖子-->
    <select id="getCommunityInvitations" parameterType="int" resultMap="CommunityInvitationsResultMap">
        SELECT * FROM invitation
        WHERE community_id = #{communityId}
        ORDER BY TIME DESC
    </select>

</mapper>