<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.mapper.CommunityMapper">

    <!--查询一周内帖子数最多的3条社区记录-->
    <select id="getTopCommunity" resultType="Community">
        SELECT
            community.*,
            COUNT(invitation.`community_id`)
        FROM
            community
            INNER JOIN invitation
            ON community.`id` = invitation.`community_id`
--             AND date_sub(curdate(), interval 7 day) &lt;= date(invitation.time)
        GROUP BY invitation.`community_id`
        ORDER BY COUNT(invitation.`community_id`) DESC
        LIMIT 3
    </select>

    <select id="getById" parameterType="int" resultType="Community">
        SELECT * FROM community
        WHERE id = #{id}
    </select>

    <select id="getCommunityLikeName" parameterType="String" resultType="Community">
        SELECT * FROM community
        WHERE NAME LIKE '%${value}%'
    </select>

</mapper>