<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.mapper.CommentMapper">


    <resultMap id="CommentResultMap" type="CommentUser">
        <id column="id" property="id"/>
        <result column="invitation_id" property="invitationId"/>
        <result column="user_id" property="userId"/>
        <result column="cin_id" property="cinId"/>
        <result column="cfor_id" property="cforId"/>
        <result column="time" property="time"/>
        <result column="content" property="content"/>
        <!--关联信息-->
        <result column="username" property="username"/>
        <result column="photo_url" property="photoUrl"/>
    </resultMap>

    <select id="getFirstComment" parameterType="int" resultMap="CommentResultMap">
        SELECT
            comment.*,
            user.`username`,
            user.`photo_url`
        FROM
            comment
        INNER JOIN user
            ON user.`id` = comment.`user_id`
            AND invitation_id = #{invitationId}
            AND cin_id IS NULL
    </select>

    <select id="getSubordinateComment" parameterType="int" resultMap="CommentResultMap">
        SELECT
            comment.*,
            user.`username`,
            user.`photo_url`
        FROM
            COMMENT
            INNER JOIN USER
                ON comment.`user_id` = user.`id`
                AND comment.`cin_id` = #{cin_id}
    </select>

    <insert id="insert" parameterType="Comment">
        INSERT INTO COMMENT (
            invitation_id,
            user_id,
        <if test="cinId!=null">
            cin_id,
        </if>
        <if test="cforId!=null">
            cfor_id,
        </if>
            time,
            content
        )
        VALUES(
            #{invitationId},
            #{userId},
        <if test="cinId!=null">
            #{cinId},
        </if>
        <if test="cforId!=null">
            #{cforId},
        </if>
            #{time},
            #{content}
        )
    </insert>


</mapper>

