<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsj.mapper.UserMapper">


    <resultMap id="UserResultMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="birthday" property="birthday"/>
        <result column="email" property="email"/>
        <result column="tel_number" property="telNumber"/>
        <result column="photo_url" property="photoUrl"/>
    </resultMap>

    <select id="getUserByPassword" parameterType="String" resultMap="UserResultMap">
        SELECT * FROM user WHERE username = #{username} AND password = #{password}
    </select>

    <select id="getById" parameterType="int" resultMap="UserResultMap">
        SELECT * FROM user WHERE id = #{id}
    </select>

</mapper>

