.bg-gray-dark{
    background: #848eb5;
}
ul,li{
    list-style: none;
}
a{
    color: inherit;
}
a:hover{
    text-decoration: none;
}
.time{
    font-size: 12px;
}
#contentEidtor .w-e-toolbar{
    overflow: auto;
}